.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-body {
  display: flex;
  flex: 1;
  overflow: auto;
}

.App-content {
  margin: 0 auto;
  flex-basis: 800px;
}

.App-footer {
  background-color: #222;
  height: 15px;
  padding: 5px;
  font-size: 10px;
  color: #CCC;
  text-align: center;
}

.loading {
  text-align: center;
  margin: 40px;
}
