.Day-form {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  justify-content: space-between;
}

.Day-form-date {
  flex-grow: 1;
}

.Day-form-hours {
  flex-grow: 3;
  margin: 0 20px;
}

.Day-form-button {
  flex-grow: 1;
}
