.Day-form {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  height: 40px;
}

.Day-form input {
  padding: 5px;
}

.Day-form-date {
  flex-shrink: 0;
  width: 80px;
}

.Day-form-hours {
  flex-grow: 1;
  margin: 0 20px;
}

.button {
  flex-shrink: 0;
  width: 80px;
  background-color: #333;
  color: #FFF;
  border: 0;
  border-radius: 5px;
}
