.Day {
  display: flex;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #CCC;
}

.Day-date {
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.Day-hour {
  margin: 10px;
}
