.Day {
  display: flex;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #CCC;
}

.Day--hover {
  background-color: #F6F6F6;
}

.Day-date {
  font-weight: bold;
  text-align: center;
  padding: 10px 30px;
  margin-right: 10px;
}

.Day-hour {
  padding: 10px 20px;
}

.button__edit {
  margin-left: auto;
}