.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-body {
  display: flex;
  flex: 1;
}

.App-content {
  flex: 1;
  margin: 20px 40px;
}

.App-footer {
  background-color: #222;
  height: 15px;
  padding: 5px;
  font-size: 10px;
  color: #CCC;
  text-align: center;
}
